*{
    margin: 0;
    padding: 0;
    offset: 0;
}

.navbar{
    margin-bottom: 0;
}
.text-center{
    font-size: 60px;
}
#logo{
    width: 50px;
    border-radius: 100%;
}

.img-responsive{
    width: 20rem;
}

#home{
    background: url(../img/crop.jpg) no-repeat center center fixed;
    display: table;
    height: 90vh;
    position: relative;
    width: 100%;
    background-size: cover;
    color: black;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.padding .container{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 1.5rem;
}


.header-title{
    font-size: 90px;
}

p{
    font-size: 19px;
}





/*footer*/

/*footer*/
footer{
    width: 100%;
    background-color: rgb(59, 58, 58);
    padding-top: 2%;
    color: white;
}

.footer .footer-contact{
    font-size: 15px;
}

.fa{
    padding-right: 5%;
    font-size: 15px;
    color: white;
}
.fa:hover{
    color: rgb(175, 157, 157);
}

#copyright{
    font-size: small;
    padding-bottom: 1rem;
}

.icon{
    max-width: 90px;
}